body {
  background-color: black;
}
h1 {
    color:red;
}
h2 {
    color:red;
}
p1 {
    color: red;
    font-size:18px;
}
.link {
    font-size: 23px;
    color: red;
    text-decoration: none;
}
